.App {
  text-align: center;
}

a{
  text-decoration: none;
}

.navbar{
  background-color: #0ba9d9;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
  color: white;
}

.navbar > a{
  color: white;
}

.par-logo-nav{
  height: 50px;
  width: 50px;
}

.all-listings-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.all-listings-card{
  background-color: #0ba9d9;
  border-radius: 10%;
  width: 30vw;
  height: 40vh;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-top: 5%;
  padding-bottom: 2%;
}

.all-listings-photo{
  width: 20vh;
  height: 20vh;
}

/* Full listing card design */

/* .listing-details{
  display: grid;
  grid-template-areas: 
  "a a a",
  "b b c",
  "b b d";
}

.listing-title{
  grid-area: a;
}
.listing-image{
  grid-area: b;
}
.listing-description{
  grid-area: c;
}
.listing-summary{
  grid-area: d;
} */

.listing-details{
  background-color: beige;
}

.bid-info{
  position: relative;
  right: 0;
  top: 0;
}

/* Form Design*/
/* Idea Pulled from the following website: https://freefrontend.com/css-forms/*/

.login {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.login-form {
  background-color: #0ba9d9;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 10%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: black;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

/* .placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
} */

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}


